* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(black.jpg);
    background-size: cover;
    list-style: none;

}

.logo {
    width: 30%;
    background: none;
}

nav {
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.menu li {
    align-items: center;
    background: none;
}

ul {
    width: 75%;
    background: none;
}

a {
    text-decoration: none;
    letter-spacing: 5px;
    line-height: 30px;
    text-align: center;
    /* font-family: 'Mina', sans-serif; */
    font-family: 'Aboreto', cursive;
    font-size: 23px;
    color: #fff;
    background-image: linear-gradient(45deg, #365899 0%, #992a09 35%, #a76c51 85%, #a76c51 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bolder;
}

section {
    background: none;
    /* width: 90%; */
}

.estrenos {
    display: grid;
    padding: 7%;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 500px; */
    gap: 20px;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

figure {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;

}

.figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

}

figure .texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.amazon {
    background: rgba(0, 170, 226, 0.7);
}

.hbo {
    background: rgba(70, 3, 99, 0.7);
}

.netflix {
    background: rgba(125, 3, 3, 0.7);
}

.disney {
    background: rgba(26, 76, 175, 0.7);
}

.star {
    background: rgba(184, 88, 4, 0.7);
}

.apple {
    background: rgba(23, 23, 23, 0.7);
}

.crunchy {
    background: rgba(245, 123, 32, 0.7);
}

.vix {
    background: rgba(255, 89, 0, 0.7);
}

.claro {
    background: rgba(213, 43, 30, 0.7);
}

.paramount {
    background: rgba(0, 70, 216, 0.7);
}

.mubi {
    background: rgba(108, 123, 209, 0.7);
}

.cine {
    background: rgba(95, 168, 151, 0.7);
}

h2 {
    margin-top: 80px;
    font-size: 40px;
    background: none;
}

p {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    background: none;
}

figure .amazont {
    /* color: #162b3a */
    color: white;
}

figure .hbot {
    /* color: #8c3be8 */
    color: white;
}

figure .netflixt {
    /* color: #330505 */
    color: white;
}

figure .disneyt {
    /* color: #97c7e8 */
    color: white;
}

figure .start {
    /* color: #5f2702 */
    color: white;
}

figure .applet {
    /* color: #888686 */
    color: white;
}

figure .crunchyt {
    /* color: #fad3a4 */
    color: white;
}

figure .vixt {
    /* color: #f0c9b1 */
    color: white;
}

figure .clarot {
    /* color: #4b0303 */
    color: white;
}

figure .paramountt {
    /* color: #a9d0ec */
    color: white;
}

figure .mubit {
    color: white;
}

figure .cinet {
    color: rgb(36, 28, 29);
}

figure:hover>.texto {
    opacity: 1;
    visibility: visible;
}

div {
    background: none;
}


@media (max-width: 720px) {
    .estrenos {
        grid-template-columns: 1fr;
    }
}